<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="public/australian-public/img/tab-icon.png" rel="shortcut icon">

    <title>Australian Fire & First Aid</title>

    <!-- Bootstrap core CSS -->
    <link href="public/australian-public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="public/australian-public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="public/australian-public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/australian-public/css/creative.css" rel="stylesheet">
    <link href="public/australian-public/css/header-footer.css" rel="stylesheet">
    <link href="public/australian-public/css/index.css" rel="stylesheet">

    <!--SELECT CSS -->
    <link rel="stylesheet" type="text/css" href="public/australian-public/css/select/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="public/australian-public/css/select/cs-skin-border.css" />

    <script src="public/australian-public/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).on('load',function() {
            $(".preloader").fadeOut("slow", function(){
                $(".preloader-left").addClass("slide-left");
                $(".preloader-right").addClass("slide-right");
            });
        });
    </script>
  </head>

  <body id="page-top">
      <div class="preloader">
          <div class="spinner"><img src="public/australian-public/img/status.gif"></div>
      </div>
      <div class="preloader-left"></div>
      <div class="preloader-right"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
        	<img class="site-logo" src="public/australian-public/img/logo.png">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Courses for Individuals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Corporate & Group Training</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-white d-flex">
      <div class="container my-auto">
        <div class="row text-center">
          <div class="col-lg-9 mx-auto">
            <h1 class="text-uppercase">
              <strong>Enjoyable Fire and First Aid Training</strong>
              <p>Delivered by Passionate Industry Experts</p>
            </h1>
            <hr>
          </div>
          <div class="col-lg-12 text-center mx-auto book-now">
            <div class="row">
              <div class="col-lg-3 col-xs-12 book-here">
                <p>BOOK ONLINE HERE</p>
                <span>Fire And First Aid Course Selector</span>
              </div>
              <div class="col-lg-3 col-xs-12">
                  <select class="cs-select cs-skin-border">
                    <option value="" disabled selected>Select category</option>
                    <option value="email">Open Learning for Individuals</option>
                    <option value="twitter">Corporate & Group Training</option>
                    <option value="linkedin">Safety Services</option>
                  </select>
              </div>
              <div class="col-lg-3 col-xs-12">
                  <select class="cs-select cs-skin-border">
                    <option value="" disabled selected>Select Course</option>
                    <option value="email">First Aid Course</option>
                    <option value="twitter">Fire Training Course</option>
                  </select>
              </div>
              <div class="col-lg-3 col-xs-12">
                <a class="btn btn-primary btn-xl js-scroll-trigger book-now-btn" href="#">Book now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">You can Trust Us!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Australian Fire & First Aid delivers accredited training under the auspices of Safety Corp RTO #91694, Parasol EMT Pty.Ltd RTO #2551 or First Aid Advantage RTO #32273</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#courses">View Courses</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">We Offer</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-user text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Open Learning for Individuals</h3>
              <p class="text-muted mb-0">We use a combined delivery method for our first aid courses and fire training courses, this means that students leave and arrive throughout the day and stay for only the portion they require.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Corporate & Group Training</h3>
              <p class="text-muted mb-0">We like to make all our training as enjoyable as possible for everyone. But it doesn't mean we don't take safety seriously. Our courses are enjoyable because they are delivered by passionate industry experts who enjoy their work as much as you do.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-exclamation-triangle text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Safety<br>Services</h3>
              <p class="text-muted mb-0">At Australian Fire & First Aid we provide all of your safety needs in one place from servicing your extinguishers to training your staff.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="courses">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img class="img-fluid" src="public/australian-public/img/courses/first-aid-11.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Basic Emergency Life Support
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img class="img-fluid" src="public/australian-public/img/courses/first-aid-22.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Education First Aid
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img class="img-fluid" src="public/australian-public/img/courses/first-aid-33.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Provide First Aid
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img class="img-fluid" src="public/australian-public/img/courses/first-aid-44.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    CPR
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img class="img-fluid" src="public/australian-public/img/courses/fire-training-11.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Extinguisher Training
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="#">
              <img class="img-fluid" src="public/australian-public/img/courses/fire-training-22.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Warden Training
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-dark text-white more-courses">
      <div class="container text-center">
        <a class="btn btn-light btn-xl sr-button" href="#">More Courses...</a>
      </div>
    </div>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Need to talk to someone now about your training needs?</p>
          </div>
        </div>
        <form class="contact-form">
          <div class="row">
              <div class="col-lg-6 col-xs-12">
                <input type="text" required placeholder="Name">
              </div>     
              <div class="col-lg-6 col-xs-12">
                <input type="email" required placeholder="Email">
              </div> 
              <div class="col-lg-12">
                <textarea rows="5" placeholder="Comment">
                  
                </textarea>
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger" href="#">Submit</a>
              </div>
          </div>
        </form>
      </div>
    </section>

    <footer class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-12">
            <h3>Quick links</h3>
            <ul class="footer-quick-links zero-padding">
                <li class="full-width">
                  <a class="js-scroll-trigger" href="#">Home</a>
                </li>
                <li class="full-width">
                  <a class="js-scroll-trigger" href="#">Courses for Individuals</a>
                </li>
                <li class="full-width">
                  <a class="js-scroll-trigger" href="#">Corporate & Group Training</a>
                </li>
                <li class="full-width">
                  <a class="js-scroll-trigger" href="#">Blog</a>
                </li>
                <li class="full-width">
                  <a class="js-scroll-trigger" href="#">Contact</a>
                </li>
              </ul>
          </div>
          <div class="col-lg-4 col-xs-12">
             <h3>Contact Us</h3>
             <ul class="footer-quick-links zero-padding">
                <li class="full-width">
                   <i class="fa fa-phone fa-2x mb-3 sr-contact align-middle"></i> 
                   <span class="align-middle contact-detail">0431 301 872</span>
                </li>
                <li class="full-width">
                    <i class="fa fa-envelope-o fa-2x mb-3 sr-contact align-middle"></i> 
                   <span class="align-middle contact-detail">mark@australianfireandfirstaid.com</span>
                </li>
              </ul>
          </div>
          <div class="col-lg-4 col-xs-12">
            <h3>Like Us on:</h3>
             <ul class="footer-quick-links zero-padding">
                <li class="full-width">
                   <a href="https://www.facebook.com/affa.net.au" class="margin-l-sm">
                     <i class="fa fa-facebook-square fa-2x mb-3 sr-contact align-middle"></i> 
                   </a>
                   <a href="https://twitter.com/affatraining" class="margin-l-sm">
                     <i class="fa fa-twitter-square fa-2x mb-3 sr-contact align-middle"></i> 
                   </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
          <div class="container text-center">
              <div class="col-lg-12">
                  <p>Copyright © 2011 - 2018 Australian Fire & First Aid | All Rights Reserved</p>
              </div>
          </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="public/australian-public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="public/australian-public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="public/australian-public/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="public/australian-public/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="public/australian-public/js/creative.min.js"></script>
    <!-- SELECT JS-->
    <script src="public/australian-public/js/select/classie.js"></script>
    <script src="public/australian-public/js/select/selectFx.js"></script>
    <script>
      (function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
          new SelectFx(el);
        } );
      })();
    </script>
  </body>

</html>
